# Datasets and caches
data/raw_monthly/
data/patches/*.npy
data/labels/*.npy
data/labels/*.tif
*.npy
*.zip
*.dmg
.ipynb_checkpoints/
__pycache__/
*.pyc

# Local environments and IDEs
venv/
.env
.DS_Store
.vscode/
.idea/

# Node modules
node_modules/
dist/
build/